/*Minimum styles to make game visible*/
html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin: 0;
}
header{
    text-align: center;
    margin: 0;
    padding: 1%;
}
header h1, header h2{
    margin: 0;
}
#board{
    position: relative;
    border: 5px solid black;
    left: 50%;
    transform: translateX(-50%);
}
#reset{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
